.we-grid {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 150vw;
}
@media (min-width: 1920px) {
    .we-grid {
        flex-direction: row;
        gap: 30vw;
    }
    .oolong-pic {
        width: 20vw !important;
    }
}
.we-point {
    background-color: #eef0dc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media (min-width: 420px) {
    .we-point {
        flex-direction: row;
    }
}
.oolong-pic {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    transform: translate(-50%,-50%);
}