.hero {
    position: relative;
    width: 100%;
    height: auto;
    aspect-ratio: 162/93;
}
.content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    box-sizing: border-box;
}
@media (min-width:162px) and (max-width:699px) {
    .content {
        align-items: center;
    }
}
@media (min-width:700px) {
    .content {
        padding-left: 3vw;
        gap: 3vw;
    }
}
@media (min-width: 1280px) {
    .content {
        gap: 1.5vw;
    }
}