.hero .hero-second-title-font {
    font-size: 16px;
    font-family: 'Philosopher';
    color: #7d806a;
}
.hero .hero-second-title {
    margin: 0;
}
@media (min-width:162px) and (max-width:419px) {
    .hero .hero-second-title {
        display: none;
    }
}
@media (min-width:420px) and (max-width:699px) {
    .hero .hero-second-title {
        display: none;
    }
}
@media (min-width:700px) and (max-width:1279px) {
    .hero .hero-second-title {
        font-size: 20px;
    }
}
@media (min-width:1280px) and (max-width:1919px) {
    .hero .hero-second-title {
        font-size: 48px;
    }
}
@media (min-width:1920px) and (max-width:4095px) {
    .hero .hero-second-title {
        font-size: 80px;
    }
}
@media (min-width:4096px) {
    .hero .hero-second-title {
        font-size: 160px;
    }
}