.hero .hero-title-font {
    font-size: 16px;
    font-family: 'Roboto';
    color: #99775a;
    letter-spacing: 2px;
}
.hero .hero-title {
    margin: 0;
}
@media (min-width:162px) and (max-width:419px) {
    .hero .hero-title {
        
    }
}
@media (min-width:420px) and (max-width:699px) {
    .hero .hero-title {
        font-size: 20px;
    }
}
@media (min-width:700px) and (max-width:1279px) {
    .hero .hero-title {
        display: none;
    }
}
@media (min-width:1280px) and (max-width:1919px) {
    .hero .hero-title {
        display: none;
    }
}
@media (min-width:1920px) and (max-width:4095px) {
    .hero .hero-title {
        font-size: 20px;
    }
}
@media (min-width:4096px) {
    .hero .hero-title {
        font-size: 100px;
    }
}