.we-grid {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 97.5vw;
}
.we-believe-second {
    text-align: center;
}
@media (min-width: 1920px) {
    .we-point {
        width: calc(20vw + 100px) !important;
        gap: 2.5vw !important;
    }
    .we-grid {
        flex-direction: row;
        gap: 30vw;
    }
    .oolong-pic {
        width: 20vw !important;
    }
    .we-believe-container {
        background-color: #eef0dc;
    }
    .we-believe .we-believe-second {
        margin-bottom: 3.5vw;
    }
}
.we-point {
    background-color: #eef0dc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.oolong-pic {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 85vw;
    transform: translate(-47%,-50%);
}
@media (min-width: 420px) {
    .three-p {
        display: flex;
        flex-direction: column;
        background-color: #eef0dc;
        padding-top: 4vw;
        padding-bottom: 4vw;
    }
    .we-point {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center !important;
        gap: 5vw;
        width: calc(30vw + 100px);
        margin: auto;
    }
    .we-point.right-aligned {
        align-items: center !important;
        justify-content: flex-end !important;
    }
}
@media (min-width: 700px) {
    .we-grid {
        gap: 92vw;
    }
    .oolong-pic {
        width: 80vw;
    }
}
@media (min-width: 1280px) {
    .we-grid {
        gap: 40.25vw;
    }
    .oolong-pic {
        width: 35vw;
    }
}
.three-p {
    width: 100%;
}
.we-believe-container {
    width: 100%;
}