.sometimes * {
    text-align: center;
}
.sometimes .col-or-row-of-pics {
    display: flex;
    flex-direction: column;
}
.sometimes .col-or-row-of-pics img {
    width: 100%;
    height: auto;
}
.for-big-screens {
    display: none;
}
.sometimes-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media (min-width: 700px) {
    .sometimes .sometimes-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .sometimes p {
        text-align: center;
    }
}
@media (min-width: 700px) and (max-width: 1279px) {
    .sometimes .col-or-row-of-pics, 
    .sometimes .col-or-row-of-pics picture, .sometimes-text {
        height: 100% !important;
        display: flex;
        flex: 1 1 100% !important;
        max-height: 100% !important;
        margin: auto;
    }
}
@media (min-width: 1280px) {
    .sometimes .sometimes-container {
        display: flex;
        flex-direction: row;
        gap: 3vw;
        padding-top: 3vw;
    }
    .sometimes .col-or-row-of-pics {
        display: none;
    }
    .for-big-screens, .for-big-screens picture, .sometimes-text {
        width: 100%;
        display: flex;
        flex: 1 1 100%;
        max-width: 100%;
    }
}