.hero-title-font {
    font-size: 16px;
    font-family: 'Roboto';
    color: #99775a;
    letter-spacing: 2px;
    font-weight: 600;
}
.hero-title {
    margin: 0;
}
@media (min-width:420px) and (max-width:699px) {
    .hero-title {
        font-size: 4vw;
    }
}
@media (min-width:700px) and (max-width:1919px) {
    .hero .hero-title {
        display: none;
    }
}
@media (min-width:1920px) and (max-width:4096px) {
    .hero-title {
        font-size: 2.5vw;
    }
}