.our-unique-title {
    display: inline !important;
    text-align: center;
}
.our-unique .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.our-unique-carousel {
    width: fit-content;
}
.our-unique .c-container {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}
.c-item {
    flex: 0 0 100%;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.c-item img {
    max-width: 100%;
}
.our-unique-carousel,.c-container,.c-item,.c-item picture {
    max-width: 100%;
}
.c-item-title {
    white-space: normal;
    margin-top: 0;
}
.arr-btn {
    background-color: transparent;
    border: none;
}
.text-btn-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}
@media (min-width: 700px) {
    .arr-btn img {
        width: 2vw;
        height: 2vw;
    }
}
@media (min-width: 700px) {
    .c-item {
        flex-basis: 50%;
    }
}
@media (min-width: 1280px) {
    .c-item {
        flex-basis: 33%;
    }
}
@media (min-width: 1920px) {
    .c-item {
        flex-basis: 25%;
    }
}