.sometimes * {
    text-align: center;
}
.sometimes .col-or-row-of-pics {
    display: flex;
    flex-direction: column;
    gap: 34px;
}
.sometimes .col-or-row-of-pics img {
    width: 100%;
    height: auto;
}
.for-big-screens {
    display: none;
}

    .sometimes-text {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
@media (min-width: 700px) {
    .sometimes .sometimes-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .sometimes p {
        text-align: center;
    }
}
@media (min-width: 1280px) {
    .sometimes-container {
        display: flex;
        flex-direction: row;
        gap: 3vw;
    }
    .sometimes .col-or-row-of-pics {
        display: none;
    }
    .for-big-screens {
        display: flex;
    }
    .for-big-screens img {
        height: 496px;
    }
}