.house-of-tea-second {
    display: inline !important;
}
.house-of-tea .price-tag {
    color: #8e6746;
}
.house-of-tea .col-or-row-of-pics {
    flex-direction: column !important;
    width: auto !important;
    justify-content: center !important;
    text-align: center;
}
@media (min-width: 420px) {
    .house-of-tea img {
        width: 407px;
    }
}
@media (min-width: 700px) {
    .house-of-tea .hero-title {
        display: inline !important;
    }
    .house-of-tea .rows {
        text-align: center;
    }
}
@media (min-width: 1280px) {
    .house-of-tea .col-or-row-of-pics {
        flex-direction: row !important;
        gap: 6vw;
    }
    .rows-s, .rows-s * {
        display: flex;
        flex-direction: column;
        flex: 1 1 100% !important;
        width: 100% !important;
    }
    .house-of-tea-pic, .house-of-tea-pic * {
        flex: 1 1 100% !important;
        width: auto !important;
        max-width: 100%;
    }
    .house-of-tea picture.house-of-tea-pic {
        display: flex;
    }
    .house-of-tea img {
        margin: auto;
    }
}