.advantages .advantages-pic {
    aspect-ratio: 165/140;
    margin-bottom: -40px;
    margin-left: -15px;
    height: 140px;
}
@media (min-width:700px) {
    .advantages .advantages-pic {
        height: 30vw;
        margin-bottom: calc(-40 * 30vw/140);
        margin-left: calc(-15 * 30vw/140);
    }
}