.hero .hero-right-menu {
    position: absolute;
    z-index: 2;
    right: 0px;
}
.hero .hero-right-menu ul {
    display: flex;
    flex-direction: row;
    gap: 40px;
    list-style-type: none;
}
.hero .hero-right-menu .add-to-cart {
    height: 18px;
    width: 21px;
    margin-right: 25px;
}
.hero .hero-right-menu .contact-us {
    margin-top: 0;
}
@media (min-width:162px) and (max-width:1919px) {
    .hero .hero-right-menu {
        display: none;
    }
}
@media (min-width:1920px) and (max-width:4096px) {
    .hero .hero-right-menu {
        padding-right: 2vw;
        padding-top: 1vw;
    }
    .hero .hero-right-menu ul li {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .hero .hero-right-menu .add-to-cart {
        height: 2.5vw;
        width: auto;
        aspect-ratio: 118/101;
    }
}