.hero {
    position: relative;
    width: 100%;
    height: auto;
    aspect-ratio: 162/93;
}
.content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
}
@media (min-width:162px) and (max-width:419px) {
    .content {
        align-items: center;
    }
    .hero {
        
    }
}
@media (min-width:420px) and (max-width:699px) {
    .content {
        align-items: center;
    }
    .hero {
        
    }
}
@media (min-width:700px) and (max-width:1279px) {
    .content {
        padding-left: 20px;
    }
}
@media (min-width:1280px) and (max-width:1919px) {
    .content {
        padding-left: 60px;
    }
}
@media (min-width:1920px) and (max-width:4095px) {
    .content {
        padding-left: 80px;
    }
}
@media (min-width:4096px) {
    .content {
        padding-left: 100px;
    }
}